.content__container {
    background-color: white;
    margin-top: 20px;
    padding: 16px 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__header {
    color: var(--primary-color);
    margin: 4px 0 20px 0;
    font-size: 2rem;
    text-transform: uppercase;

    display: flex;
    /* align-items: center; */
}

.content__header-icon {
    width: 20px;
    margin-right: 8px;
}

.content__item-list {
    width: 100%;
}

/* =============================== category =============================== */

.category__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 8px; */
    padding: 12px 0;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
}

.category__item:hover {
    box-shadow: 0 1px 2rem rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

.category__img {
    width: 60%;
}

.category__text {
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: 500;
}

/* =============================== recommend =============================== */

.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    overflow: hidden;
    text-decoration: none;
    padding: 16px 4px;
    margin: 2px 0;
}

.card:hover {
    box-shadow: 0 1px 2rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
    width: 100%;
    padding-top: 100%;
    object-fit: contain;
}

.card-body {
    color: var(--text-color);
    padding: 8px;
}

.product__name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.product__rating {
    font-size: 1.3rem;
    color: rgb(213, 213, 213);
    /* transform: scale(1.3); */
    /* transform-origin: left; */
}

.product__rating-yellow {
    --star-percent: 100%;
    background: linear-gradient(90deg, var(--star-yellow-color) var(--star-percent), rgb(213, 213, 213) var(--star-percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.product__sold {
    font-size: 1.25rem;
    margin: 0;
}

.product__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price-old {
    margin: 0;
    font-size: 1.4rem;
    text-decoration: line-through;
}

.product__price-new {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.content__container-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: white;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    width: 240px;
    min-height: 36px;
    margin-bottom: 16px;
}

.content__container-see-more:hover {
    background-color: var(--primary-color);
    color: white;
}

/* =============================== news =============================== */


.news {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.news:hover {
    color: var(--text-color);
}

.news__img {
    width: 96%;
    border-radius: 8px;
}

.news__body {
    display: flex;
    flex-direction: column;

    margin: 8px;
}

.news__title {
    font-size: 1.64rem;
    margin-top: 4px;

    /* giới hạn 2 dòng */
    display: block;
    overflow: hidden;
    line-height: 2rem;
    height: 4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.news__brief {
    font-size: 1.3rem;
    margin: 4px 0 0;

    /* giới hạn 2 dòng */
    display: block;
    overflow: hidden;
    line-height: 1.7rem;
    height: 3.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

/* =============================== hotsale =============================== */

.flashsale__time {
    margin: 0 12px;
    color: rgb(255, 91, 102);
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.flashsale__secs,
.flashsale__mins,
.flashsale__hours {
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    width: 32px;
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 1.6rem;
    background-color: rgb(255, 91, 102);
    color: white
}

.card__flashsale .product__sold {
    margin-top: 12px;
    height: 22px;
    border-radius: 11px;
    overflow: hidden;

    position: relative;
    z-index: 2;
}

.card__flashsale .product__sold::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;

    border-radius: 11px;
    background-color: rgb(255, 91, 102);
    width: var(--percent);
}

.card__flashsale .product__sold::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 170, 175);
    width: 100%;
    border-radius: 11px;

}

.card__flashsale .product__sold--text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 22px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* =============================================== banner =============================================== */

.banner {
    background: linear-gradient(180deg, var(--primary-light-color) 50%, rgba(255, 255, 255, 0) 50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    margin-bottom: 24px
}

.banner__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.01);
}

.banner_bg-img-left,
.banner_bg-img-right {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 12px;

    width: 24%;
    object-fit: contain;

}

.banner_bg-img-left {
    left: 0;
}

.banner_bg-img-right {
    right: 0;
}

.banner-wrapper {
    margin: 0;
}

.carousel.slide {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    z-index: 2;
}

.banner-img {
    width: 100%;
}

.carousel-item {
    position: relative;
}

.banner__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 12%;
    object-fit: contain;
    padding: 4px 12px 4px 12px;
    background: rgba(255, 255, 255, 0.75);
    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 0.7rem rgba(0, 0, 0, 0.1);
}

.group-item-banner {
    background-color: white;
    display: flex;
    justify-content: space-evenly;

    position: relative;
    box-sizing: border-box;
    z-index: 2;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    padding: 16px;

}

.item-banner {
    width: calc(100% / 6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--text-color);
    padding: 20px 4px;
    border-radius: 8px;
}

.item-banner:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

.icon-item-banner {
    width: 36%;
    border-radius: 12px;
}

.text-item-banner {
    text-transform: uppercase;
    padding-top: 8px;
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 991px) {

    .banner_bg-img-left,
    .banner_bg-img-right {
        display: none;
    }

    .carousel.slide {
        border-radius: 8px;
        height: 100%;
    }

    .banner-img {
        width: 720px;
        height: 320px;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .banner-img {
        width: 540px;
        max-width: 100%;
        height: 240px;
        object-fit: cover;
    }

}