/* sign modal */

.sign {
    width: 700px;
    border-radius: 10px;
    background-color: var(--white-color);
    overflow: hidden;
}

.signup,
.signin {
    display: none;
}

.sign__container {
    padding: 16px 32px;
}

.sign__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign__title {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.sign__switch {
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: 500;
    padding: 8px 12px;
}

.sign__form {
    margin-top: 32px;
}

.sign__form-input {
    width: 100%;
    height: 46px;
    margin: 8px 0;
    padding: 12px;
    font-size: 1.5rem;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    outline: none;
}

.sign__form-input:focus {
    border-color: #777;
}

.img_captcha {
    border: 1px solid #DBDBDB;
    height: 44px;
    border-radius: 5px;
    margin-right: -8px;
}

.sign__info {
    margin: 20px 0;
    font-size: 1.3rem;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sign__info--right {
    justify-content: flex-end;
    font-size: 1.4rem;

}

.sign__form-link {
    text-decoration: none;
    color: var(--primary-color);
}

.sign__form-forgot {
    color: var(--primary-color);
    font-weight: 600;
    margin-right: 16px;
}

.sign__form-help {
    color: #888;
}

.sign__controls {
    margin-top: 64px;
    display: flex;
    justify-content: flex-end;
}

.sign__controls button {
    margin-left: 8px;
}

.sign__withsocial {
    margin-top: 32px;
    background-color: var(--bs-gray-100);
    padding: 12px 36px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.sign__withsocial a {
    width: 45%;
    border: 1px solid transparent;
    color: var(--primary-color);
    background: rgba(210, 255, 214, 0.5);
}

.sign__withsocial a:hover {
    border: 1px solid var(--primary-color);
    background: rgba(217, 255, 220, 0.5);
    color: var(--primary-color);
}

.sign__withsocial-icon {
    font-size: 2rem;

}

.sign__withsocial-content {
    flex: 1;
    text-align: center;
}
